@font-face {
    font-family: 'Minecraftia';
    src: url("https://cdn.rawgit.com/tomleaks/tomleaks.github.io/master/Minecraftia.ttf") format('truetype');
}

body {
    background-color: lightblue;
	font-family: Minecraftia;
}