@font-face {
    font-family: 'Minecraftia';
    src: url("tomleaks/tomleaks.github.io/raw/master/Minecraftia.ttf") format('truetype');
}

body {
    background-color: lightblue;
	font-family: Minecraftia;
}