---
ready: false
---
<!DOCTYPE html>
<html>
<head>
	<title>Tom Leaks</title>
	<script src="main.js"></script>
	<link rel="stylesheet" type="text/css" href="CSS.css">
	<link rel="stylesheet" type="text/css" href="CSSer.css" />
	<link rel="stylesheet" type="text/css" href="Fonty.css" />
</head>
<body>
	<h1>WELCOME TO TOM LEAKS</h1>
	<p>Your new favourite site for acquiring information</p>
	<audio>
		<!--<source src="music.ogg" />-->
		<source src="music.mp3" />
	</audio>
	<br/><!--
	<h2>Prom Winners</h2>
	<p><small>Information will be revealed on Friday ;)</small></p>
	<table>
		<tr>
			<th>Category</th>
			<th>Winner</th>
		</tr>
		<tr>
			<td>Prom King</td>
			<td>{% if site.ready %}Gian{% else %}???{% endif %}</td>
		</tr>
		<tr>
			<td>Prom Queen</td>
			<td>{% if site.ready %}Kate{% else %}???{% endif %}</td>
		</tr>
		<tr>
			<td>Best Rack</td>
			<td>{% if site.ready %}Charlotte{% else %}???{% endif %}</td>
		</tr>
		<tr>
			<td>Rear of the Year</td>
			<td>{% if site.ready %}Emma{% else %}???{% endif %}</td>
		</tr>
		<tr>
			<td>Best Bromance</td>
			<td>{% if site.ready %}Georgia + Hannah (?){% else %}???{% endif %}</td>
		</tr>
		<tr>
			<td>Jail</td>
			<td>{% if site.ready %}George{% else %}???{% endif %}</td>
		</tr>
		<tr>
			<td>Jeremy Kyle</td>
			<td>{% if site.ready %}???{% else %}???{% endif %}</td>
		</tr>
		<tr>
			<td>Prime Minister</td>
			<td>{% if site.ready %}???{% else %}???{% endif %}</td>
		</tr>
	</table>
	<p><small>Remember, I didn't make you read this page, so no complaining about spoilers.<br/>Guess a little late now, but spoiler alert too.</small></p>
	<br/>
	<h2>Sources</h2>
	<p><small>All sources of information are totally anonomous unless stated.<br/>Have fun finding the rat :D</small></p>
	--><!--First world problems ^^^-->
	 <div class="hax-box" style="display:none;">
		-50%
	</div>
	<div id="boxes">
	</div>
	<div class="footer">
		<p>Copyright<span style="font-family: Arial">&nbsp;<b>&copy;</b>&nbsp;</span>2015 Tom Leaks. All rights reserved.</p>
	</div>
</body>
</html>